.rows {
    width: 100%;
    display: inline-block;
    background-color: rgb(232,111,64);
    background-size: cover;
}

.row1 {

    width: 25%;
    height: 300px;
    padding: 25px;
    text-align: center;
    margin: 20px;
    display: inline-block;
    
}

.row2 {

    width: 25%;
    height: 300px;
    padding: 25px;
    text-align: center;
    margin: 20px;
    display: inline-block;
    
}

.row3 {

    width: 25%;
    height: 300px;
    padding: 25px;
    text-align: center;
    margin: 20px;
    display: inline-block;
    
}

.row4 {

    width: 25%;
    height: 300px;
    padding: 25px;
    text-align: center;
    margin: 20px;
    display: inline-block;
    
}

@font-face {
   font-family: "Naruto Font";
   src: url("/Users/yorvinrosario/Library/Fonts/njnaruto.ttf") format("truetype");

}

p {
    font-size:  30px;
    text-align: center;
    font-family: "Naruto Font", Geneva, sans-serif;
    color: rgb(0,54,104)
}

.teamName {
    
    font-size: 45px;

}
