header, footer {
    background-color: blue;
}

h1 {
    text-align: center;
    color: red;
    text-shadow: 5px 5px 8px black; 
}

h2 {
    text-align: center;
}

main {
    height: auto;
    width: 960px;
    margin: 0 auto;
    background-color: antiquewhite;

}

ul{
    list-style: none;
    text-align: center;
}

li {
    padding: 20px;
    font-weight: bold;
}

img {
    height: 200px;
    width: 200px;
    align-self: auto;
}